<center><H2> Probability and Statistics</H2></center>
<center><H4>Fernando Deeke Sasse<br></H4></center>
<center><H3>Departamento de Matem√°tica - CCT -  UDESC</H3></center>
<center><H1>Solutions to Exercises</H1></center>

**1.** We have 4 dice in a box: 4, 6, 8, 12-sided dice. Answer the following questions using
Bayesian tables:

(i) Someone picks a die at random, roll it and informs you the result is 5, without telling you
which die it is. Find the probability that the die is 4, 6, 8 or 12-sided.

Here's a Bayes table that uses integers to represent the hypotheses:

In [27]:
import pandas as pd
from fractions import Fraction

In [29]:
table = pd.DataFrame(index=[4, 6, 8, 12])
table['prior'] = Fraction(1, 4)
table['likelihood'] = 0, Fraction(1, 6), Fraction(1, 8), Fraction(1, 12)
table

   prior likelihood
4    1/4          0
6    1/4        1/6
8    1/4        1/8
12   1/4       1/12

Once we have priors and likelhoods, the remaining steps are always the same, so we will put them in a function:

In [32]:
def update(table):
    """Compute the posterior probabilities."""
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [34]:
prob_data=update(table)
table

   prior likelihood unnorm posterior
4    1/4          0      0         0
6    1/4        1/6   1/24       4/9
8    1/4        1/8   1/32       1/3
12   1/4       1/12   1/48       2/9

(ii) Suppose the same die is rolled again and the informed result is 6. Update the table.

In [37]:
import pandas as pd
from fractions import Fraction

In [39]:
table2 = pd.DataFrame(index=[4, 6, 8, 12])
table2['prior'] = table['posterior']
table2['likelihood'] = 0, Fraction(1, 6), Fraction(1, 8), Fraction(1, 12)
table2

   prior likelihood
4      0          0
6    4/9        1/6
8    1/3        1/8
12   2/9       1/12

In [9]:
prob_data2=update(table2)
table2

   prior likelihood unnorm posterior
4      0          0      0         0
6    4/9        1/6   2/27     16/29
8    1/3        1/8   1/24      9/29
12   2/9       1/12   1/54      4/29

Let us rewrite the last column in float format:

In [14]:
table2['posterior_float'] = table2['posterior'].apply(lambda x: round(float(x), 4))
table2

   prior likelihood unnorm posterior  posterior_float
4      0          0      0         0           0.0000
6    4/9        1/6   2/27     16/29           0.5517
8    1/3        1/8   1/24      9/29           0.3103
12   2/9       1/12   1/54      4/29           0.1379

### Another solution

We can just multiply the likelihoods:

In [41]:
import pandas as pd
from fractions import Fraction

In [45]:
table = pd.DataFrame(index=[4, 6, 8, 12])
table['prior'] = Fraction(1, 4)
table['likelihood1'] = 0, Fraction(1, 6), Fraction(1, 8), Fraction(1, 12)
table['likelihood2'] = 0, Fraction(1, 6), Fraction(1, 8), Fraction(1, 12)
table['likelihood'] = table['likelihood1'] * table['likelihood2']
table

   prior likelihood1 likelihood2 likelihood
4    1/4           0           0          0
6    1/4         1/6         1/6       1/36
8    1/4         1/8         1/8       1/64
12   1/4        1/12        1/12      1/144

In [13]:
def update(table):
    """Compute the posterior probabilities."""
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [47]:
prob_data2=update(table)
table

   prior likelihood1 likelihood2 likelihood unnorm posterior
4    1/4           0           0          0      0         0
6    1/4         1/6         1/6       1/36  1/144     16/29
8    1/4         1/8         1/8       1/64  1/256      9/29
12   1/4        1/12        1/12      1/144  1/576      4/29

In [49]:
table['posterior_float'] = table['posterior'].apply(lambda x: round(float(x), 4))
table

   prior likelihood1 likelihood2 likelihood unnorm posterior  posterior_float
4    1/4           0           0          0      0         0           0.0000
6    1/4         1/6         1/6       1/36  1/144     16/29           0.5517
8    1/4         1/8         1/8       1/64  1/256      9/29           0.3103
12   1/4        1/12        1/12      1/144  1/576      4/29           0.1379

**2.** Ehlers-Danlos Syndrome (EDS) is a genetic connective tissue disorder that occurs in 1 of
every 5,000 people in a given population. The primary symptoms of EDS can include hypermobile
joints, stretchy skin, and chronic joint pain. About 65\% of people with EDS experience
at least one of these symptoms, while only 5\% of people without EDS exhibit these symptoms.
Build Bayesian tables and answer the questions:

(i) If a person exhibits at least one of these symptoms, what are the odds that they have Ehlers-
Danlos Syndrome? What is the Bayes factor of this data?

In [52]:
import pandas as pd

In [87]:
table = pd.DataFrame(index=['H', 'Hc'])
table['prior'] =  1/5000 ,  1-1/50001table['likelihood'] = 0.65 ,  0.05

SyntaxError: invalid decimal literal (2780909164.py, line 2)

In [58]:
def update(table):
    """Compute the posterior probabilities."""
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [60]:
update(table)
table

       prior  likelihood    unnorm  posterior
H   0.000067        0.65  0.000043   0.000866
Hc  0.999933        0.05  0.049997   0.999134

Prior odds:

In [69]:
prior_odds = table.loc['H','prior']/table.loc['Hc','prior']
prior_odds

6.667111140742716e-05

(ii) Let‚Äôs add Chronic fatigue as a new symptom detected in that person to the Bayesian analysis.
The incidence of Chronic Fatigue in people with EDS is 80\% while while 10\% of people of
that population, without EDS, exhibit this symptom. Update the Bayesian table with this new
evidence and find the new Bayes factor.