<a href="https://colab.research.google.com/github/fernandodeeke/Bayesian-Statistics/blob/main/midterm2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><H2> Probability and Statistics</H2></center>
<center><H4>Fernando Deeke Sasse<br></H4></center>
<center><H3>Departamento de Matemática - CCT -  UDESC</H3></center>
<center><H1>Solutions to the Midterm</H1></center>

**1.** We have 5 dice in a box: 4, 6, 8, 12, 20-sided dice. Answer the following questions using
Bayesian tables:

(i) Someone picks a die at random, roll it and informs you the result is 5, without telling you
which die it is. Find the probability that the die is 4, 6, 8, 12 or 20-sided.

Here's a Bayes table that uses integers to represent the hypotheses:

In [ ]:
import pandas as pd
from fractions import Fraction

In [ ]:
table = pd.DataFrame(index=[4, 6, 8, 12, 20])
table['prior'] = Fraction(1, 5)
table['likelihood'] = 0, Fraction(1, 6), Fraction(1, 8), Fraction(1, 12), Fraction(1,20)
table

   prior likelihood
4    1/5          0
6    1/5        1/6
8    1/5        1/8
12   1/5       1/12
20   1/5       1/20

Once we have priors and likelhoods, the remaining steps are always the same, so we will put them in a function:

In [ ]:
def update(table):
    """Compute the posterior probabilities."""
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [ ]:
prob_data=update(table)
table

   prior likelihood unnorm posterior
4    1/5          0      0         0
6    1/5        1/6   1/30     20/51
8    1/5        1/8   1/40      5/17
12   1/5       1/12   1/60     10/51
20   1/5       1/20  1/100      2/17

Let us rewrite the last column in float format:

In [ ]:
table['posterior_float'] = table['posterior'].apply(lambda x: round(float(x), 4))
table

   prior likelihood unnorm posterior  posterior_float
4    1/5          0      0         0           0.0000
6    1/5        1/6   1/30     20/51           0.3922
8    1/5        1/8   1/40      5/17           0.2941
12   1/5       1/12   1/60     10/51           0.1961
20   1/5       1/20  1/100      2/17           0.1176

(ii) Suppose the same die is rolled again and the informed result is 6. Update the table.

In [ ]:
import pandas as pd
from fractions import Fraction

In [ ]:
table2 = pd.DataFrame(index=[4, 6, 8, 12, 20])
table2['prior'] = table['posterior']
table2['likelihood'] = 0, Fraction(1, 6), Fraction(1, 8), Fraction(1, 12), Fraction(1,20)
table2

    prior likelihood
4       0          0
6   20/51        1/6
8    5/17        1/8
12  10/51       1/12
20   2/17       1/20

In [ ]:
prob_data2=update(table2)
table2

    prior likelihood  unnorm posterior
4       0          0       0         0
6   20/51        1/6  10/153   400/761
8    5/17        1/8   5/136   225/761
12  10/51       1/12   5/306   100/761
20   2/17       1/20   1/170    36/761

Let us rewrite the last column in float format:

In [ ]:
table2['posterior_float'] = table2['posterior'].apply(lambda x: round(float(x), 4))
table2

    prior likelihood  unnorm posterior  posterior_float
4       0          0       0         0           0.0000
6   20/51        1/6  10/153   400/761           0.5256
8    5/17        1/8   5/136   225/761           0.2957
12  10/51       1/12   5/306   100/761           0.1314
20   2/17       1/20   1/170    36/761           0.0473

### Another solution

We can just multiply the likelihoods:

In [ ]:
import pandas as pd
from fractions import Fraction

In [ ]:
table = pd.DataFrame(index=[4, 6, 8, 12, 20])
table['prior'] = Fraction(1, 5)
table['likelihood1'] = 0, Fraction(1, 6), Fraction(1, 8), Fraction(1, 12), Fraction(1,20)
table['likelihood2'] = 0, Fraction(1, 6), Fraction(1, 8), Fraction(1, 12), Fraction(1,20)
table['likelihood'] = table['likelihood1'] * table['likelihood2']
table

   prior likelihood1 likelihood2 likelihood
4    1/5           0           0          0
6    1/5         1/6         1/6       1/36
8    1/5         1/8         1/8       1/64
12   1/5        1/12        1/12      1/144
20   1/5        1/20        1/20      1/400

In [ ]:
def update(table):
    """Compute the posterior probabilities."""
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [ ]:
prob_data2=update(table)
table

   prior likelihood1 likelihood2 likelihood  unnorm posterior
4    1/5           0           0          0       0         0
6    1/5         1/6         1/6       1/36   1/180   400/761
8    1/5         1/8         1/8       1/64   1/320   225/761
12   1/5        1/12        1/12      1/144   1/720   100/761
20   1/5        1/20        1/20      1/400  1/2000    36/761

In [ ]:
table['posterior_float'] = table['posterior'].apply(lambda x: round(float(x), 4))
table

   prior likelihood1 likelihood2 likelihood  unnorm posterior  posterior_float
4    1/5           0           0          0       0         0           0.0000
6    1/5         1/6         1/6       1/36   1/180   400/761           0.5256
8    1/5         1/8         1/8       1/64   1/320   225/761           0.2957
12   1/5        1/12        1/12      1/144   1/720   100/761           0.1314
20   1/5        1/20        1/20      1/400  1/2000    36/761           0.0473

**2.** Ehlers-Danlos Syndrome (EDS) is a genetic connective tissue disorder that occurs in 1 of
every 4,000 people in a given population. The primary symptoms of EDS can include hypermobile
joints, stretchy skin, and chronic joint pain. About 75\% of people with EDS experience
at least one of these symptoms, while only 4\% of people without EDS exhibit these symptoms.
Build Bayesian tables and answer the questions:

(i) If a person exhibits at least one of these symptoms, what are the odds that they have Ehlers-
Danlos Syndrome? What is the Bayes factor of this data?

In [ ]:
import pandas as pd

In [ ]:
table = pd.DataFrame(index=['H', 'Hc'])
table['prior'] =  1/4000 ,  1-1/4000
table['likelihood'] = 0.75 ,  0.04

In [ ]:
def update(table):
    """Compute the posterior probabilities."""
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [ ]:
update(table)
table

      prior  likelihood    unnorm  posterior
H   0.00025        0.75  0.000188   0.004667
Hc  0.99975        0.04  0.039990   0.995333

Let us find the prior and posterior odds:

In [ ]:
prior_odds = table.loc['H','prior']/table.loc['Hc','prior']
prior_odds

0.0002500625156289072

In [ ]:
posterior_odds = table.loc['H','posterior']/table.loc['Hc','posterior']
posterior_odds

0.00468867216804201

The Bayes' factor is given by

In [ ]:
BF1 = posterior_odds/prior_odds
BF1

18.75

(ii) Let’s add Chronic fatigue as a new symptom detected in that person to the Bayesian analysis.
The incidence of Chronic Fatigue in people with EDS is 80\% while while 10\% of people of
that population, without EDS, exhibit this symptom. Update the Bayesian table with this new
evidence and find the new Bayes factor.

We just multiply the likelihoods:

In [ ]:
table = pd.DataFrame(index=['H', 'Hc'])
table['prior'] =  1/5000 ,  1-1/5000
table['likelihood1'] = 0.75 ,  0.04
table['likelihood2'] = 0.8 ,  0.1
table['likelihood'] = table['likelihood1'] * table['likelihood2']
table

     prior  likelihood1  likelihood2  likelihood
H   0.0002         0.75          0.8       0.600
Hc  0.9998         0.04          0.1       0.004

In [ ]:
update(table)
table

     prior  likelihood1  likelihood2  likelihood    unnorm  posterior
H   0.0002         0.75          0.8       0.600  0.000120   0.029132
Hc  0.9998         0.04          0.1       0.004  0.003999   0.970868

Let us again calculate the udated Bayes' factor:

In [ ]:
prior_odds = table.loc['H','prior']/table.loc['Hc','prior']
posterior_odds = table.loc['H','posterior']/table.loc['Hc','posterior']
BF2 = posterior_odds/prior_odds
BF2

150.00000000000003

(iii) Let’s add Gastrointestinal issues as an additional symptom to the Bayesian analysis. The incidence of Gastrointestinal Issues in people with EDS is 60\% and the incidence of Gastrointestinal Issues in people without EDS is 15\%. Again, update the Bayesian table with this new evidence and find the new Bayes factor.

In [ ]:
table = pd.DataFrame(index=['H', 'Hc'])
table['prior'] =  1/5000 ,  1-1/5000
table['likelihood1'] = 0.75 ,  0.04
table['likelihood2'] = 0.8 ,  0.1
table['likelihood3'] = 0.6 ,  0.15
table['likelihood'] = table['likelihood1'] * table['likelihood2']* table['likelihood3']
table

     prior  likelihood1  likelihood2  likelihood3  likelihood
H   0.0002         0.75          0.8         0.60      0.3600
Hc  0.9998         0.04          0.1         0.15      0.0006

In [ ]:
update(table)
table

,prior,likelihood1,likelihood2,likelihood3,likelihood,unnorm,posterior
H,0.0002,0.75,0.8,0.60,0.3600,0.000072,0.107162
Hc,0.9998,0.04,0.1,0.15,0.0006,0.000600,0.892838

In [ ]:
prior_odds = table.loc['H','prior']/table.loc['Hc','prior']
posterior_odds = table.loc['H','posterior']/table.loc['Hc','posterior']
BF3 = posterior_odds/prior_odds
BF3

600.0000000000001

The three pieces of evidence together make a strong evidence. The odds that the patient has EDS has jumped by a factor of 416. The probability that the patient has the disease is now around 7.6\%.